@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    background: #1f293a;
    font-family: 'Poppins', sans-serif;
}

.container {
    /*position: relative;*/
    width: 256px;
    height: 256px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-box {
    width: 400px;
}

form {
    width: 100%;
}

h2 {
    font-size: 2em;
    color: #0ef;
    text-align: center;
}

.input-box {
    position: relative;
    margin: 25px 0px;
}

input {
    width: 300px;
    height: 50px;
    padding: 0px 15px;
    background: transparent;
    border: 2px solid #2c4766;
    border-radius: 5px;
    outline: none;
    font-size: 1em;
    color: white;
    transition: .5s ease;
}

input:focus {
    border-color: #0ef;
}

label {
    /*top: 50%;*/
    /*font-size: 1em;*/
    position: absolute;
    left: 10px;
    transform: translateY(-50%);
    color: #fff;
    pointer-events: none;
    transition: .5e ease;

    top: 1px;  
    font-size: .8em;
    padding: 0 6px;
    background: #1f293a;
}

input:focus~label {
    /*
    top: 1px;   
    font-size: .8em;
    padding: 0 6px;
    background: #1f293a;
    */
    color: #0ef;
}

.forgot-pass {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0px 0px 10px;
    text-align: center;
    font-size: .85em;
    color: #fff;
    text-decoration: none;
}

.auth .login-button {
    display: flex;
    width: 100%;
    height: 50px;
    align-items: center;
    justify-content: center;
    margin: 0px 0px 10px;
    text-decoration: none;
    color: #1f293a;
    background-color: #0ef;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    font-size: 1em;
    font-weight: 600;
    box-shadow: 0 0px 20px rgba(0, 238, 255, 0.5);
}
    
.auth .login-button:hover {
    color: #0ef;
    background: #1f293a;
    box-shadow: 0 0px 12px rgba(0, 238, 255, 0.4);
}

.auth .login-button:active {
    color: #1f293a;
    background: #0ef;
    box-shadow: 0 0px 6px rgba(0, 238, 255, 0.3);
}

.regis .login-button {
    display: flex;
    width: 100%;
    height: 50px;
    align-items: center;
    justify-content: center;
    margin: 0px 0px 10px;
    text-decoration: none;
    color: rgb(255, 255, 255);
    background-color: rgb(0, 100, 200);
    border: none;
    cursor: pointer;
    border-radius: 5px;
    font-size: 1em;
    font-weight: 600;
    box-shadow: 0 0px 20px rgba(0, 100, 255, 0.5);
}
    
.regis .login-button:hover {
    color: rgb(0, 100, 200);
    background: #1f293a;
    box-shadow: 0 0px 12px rgba(0, 100, 200, 0.4);
}

.regis .login-button:active {
    color: rgb(255, 255, 255);
    background: rgb(0, 100, 200);
    box-shadow: 0 0px 6px rgba(0, 100, 200, 0.3);
}

.signup-link {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0px 0px 10px;
    font-size: 1em;
    color: #0ef;
    text-decoration: none;
    font-weight: 600;
}